<!-- Carousel
    ================================================== -->
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/img/carousel-01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>4impact / Vietnam</h1>
                    <p class="lead">A fluid extension of in-house mobile and web development capabilities. This isn't offshoring - this is <b><i>Next-Gen</i></b></p>
                    <a class="btn btn-large btn-primary" href="/capabilities.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-02.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>A blended team model - done right.</h1>
                    <p class="lead">Reduce your cost of seat by seamlessly scaling across borders.</p>
                    <a class="btn btn-large btn-primary" href="/people.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-03.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>No compromise on Quality.</h1>
                    <p class="lead">Combining proven delivery methods with smart people and sharp tools means that you get a top quality outcome. Every time.</p>
                    <a class="btn btn-large btn-primary" href="/model.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->