<!-- Carousel
    ================================================== -->
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/img/carousel-01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>4impact / Vietnam</h1>
                    <p class="lead">A fluid extension of our in-house capabilities, with developers and testers specialising in high-quality software.</p>
                    <a class="btn btn-large btn-primary" href="/capabilities.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-02.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One agile team - two continents</h1>
                    <p class="lead">Reduce your cost of seat by seamlessly scaling teams across borders.</p>
                    <a class="btn btn-large btn-primary" href="/people.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-03.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>The 4impact Experience</h1>
                    <p class="lead">There's no compromise on quality or experience. Combining proven delivery methods with smart people and sharp tools means that you get a top quality outcome. Every time.</p>
                    <a class="btn btn-large btn-primary" href="/model.html">Find out more &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->